@charset "UTF-8";

// stylelint-disable scss/dollar-variable-default
$stjude-sans-font-path: "../fonts/stjude-sans" !default;
$stjude-image-path: "../images" !default;

// Import SJC Theme, this includes bootstrap
@import "../../scss/stjude-cloud-theme";

// Apply our site-specific components and other CSS
@import "site-config";
