// St. Jude Cloud Theme Custom Badges

.badge {
  font-size: 9px;
  letter-spacing: 2px;
  padding: 0.35rem 0.6rem;
  text-transform: uppercase;

  .badge-icon {
    color: $white;
    opacity: 0.75;
  }

  .badge-icon:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.badge.bg-darkest {
  background-color: $gray-darkest;
  color: $white;
}

.badge.bg-pediatric-cancer {
  background-color: $pediatric-cancer;
  color: $white;
}

.badge.bg-cancer-survivorship {
  background-color: $cancer-survivorship;
  color: $white;
}

.badge.bg-non-cancerous-diseases {
  background-color: $non-cancerous-diseases;
  color: $white;
}

.badge-multiple {

  .badge {
    border-radius: 0;
  }

  .badge:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .badge:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}
