/* Footer */
footer {
  background-color: $blue-dark;
  border: 0;
  padding: 30px 0 0 0;

  .logo {
    display: inline-block;
    padding: 20px 30px;
    color: $white;
    background-image: url("#{$stjude-images-path}/stjude-logo-child.svg");
    background-position: 3px 6px;
    background-size: 72px;
    border-color: #99c4f4;
    border-right: 1px solid;
  }

  .sjc-title {
    color: $white;
    font-weight: bold;
    position: absolute;
    top: 12px;

    &:hover {
      text-decoration: none;
    }
  }

  h6 {
    color: $white;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  ul {
    font-size: 12px;
    line-height: 30px;
    list-style: none;
    padding: 0;

    li {
      a {
        color: $blue-light;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .footer-social {

    h6 {
      color: $blue-light;
    }

    .fab {
      background-color: $blue-darkest;
      border-radius: 20px;
      color: $white;
      height: 40px;
      padding: 11px 0 0 1px;
      text-align: center;
      width: 40px;
    }
  }

  .sub-footer {
    background-color: $blue-darkest;
    color: $blue-lightest;
    font-size: 12px;
    margin-top: 20px;
    padding: 10px 0 3px 0;

    a {
      color: $blue-lightest;
    }

    p {
      padding-top: 6px;
    }

    ul {
      margin: 0;
      li {
        display: inline-block;
      }
    }
  }
}
