.card {
  text-align: center;
  border-radius: 6px;
  @include box-shadow(0, 0, 6px, 1px, rgba($gray-500, 0.4));
  @include transition($trantype: box-shadow, $trantime: 0.3s);
  overflow: hidden;

  &:hover {
    @include box-shadow(0, 5px, 6px, 1px, rgba($gray-500, 0.8));
    @include transition($trantype: box-shadow);

    .icon, .photo {
      opacity: .9;
    }
  }

  &.no-shadow {
    box-shadow: none !important;
  }

  img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .icon {
    width: auto;
    max-width: 50%;
    padding-top: 15px;
  }

  .photo {
    margin: -20px 0 0 -40px;
    width: calc(100% + 80px);
    max-width: calc(100% + 80px);
  }
  
  .card-header {
    color: $blue-dark;
    background-color: $primary;
    background-color: transparent;
    border-bottom: 1px solid $gray-100;
    border-top: 6px solid $blue-dark;
    padding-top: 20px;
  }

  .card-footer {
    background-color: transparent;
    border-top: 1px solid $gray-100;
    text-align: center;

    &.blank {
      border-top: 0;
      padding: 26px 0;
    }
  }

  .text-dark {
    color: $gray-darkest !important;
  }

  &.bg-navy {
    background-color: $navy;
  }
  &.bg-navy-dark {
    background-color: $navy-dark;
  }
  &.bg-navy-light {
    background-color: $navy-light;
  }
  &.bg-blue {
    background-color: $blue;
  }
  &.bg-blue-dark {
    background-color: $blue-dark;
  }
  &.bg-blue-light {
    background-color: $blue-light;
  }
  &.bg-purple {
    background-color: $purple;
  }
  &.bg-purple-dark {
    background-color: $purple-dark;
  }
  &.bg-purple-light {
    background-color: $purple-light;
  }
  &.bg-red {
    background-color: $red;
  }
  &.bg-red-dark {
    background-color: $red-dark;
  }
  &.bg-peach {
    background-color: $peach;
  }
  &.bg-peach-dark {
    background-color: $peach-dark;
  }
  &.bg-yellow {
    background-color: $yellow;
  }
  &.bg-yellow-dark {
    background-color: $yellow-dark;
  }
  &.bg-yellow-light {
    background-color: $yellow-light;
  }
  &.bg-green {
    background-color: $green;
  }
  &.bg-green-dark {
    background-color: $green-dark;
  }
  &.bg-aqua {
    background-color: $aqua;
  }
  &.bg-aqua-dark {
    background-color: $aqua-dark;
  }
  &.bg-gray {
    background-color: $gray;
  }
  &.bg-gray-dark {
    background-color: $gray-dark;
  }
  &.bg-gray-darkest {
    background-color: $gray-darkest;
  }
  &.bg-teal {
    background-color: $teal;
  }
  &.bg-tan {
    background-color: $tan;
  }
}

