/* Footer */

footer {
  padding: 30px 0 0;
  background-color: $navy;
  border: 0;

  .logo {
    display: inline-block;
    padding: 20px 30px;
    color: $white;
    background-image: url('#{$stjude-images-path}/stjude-logo-child.svg');
    background-position: 0px 3px;
    background-repeat: no-repeat;
    background-size: 55px;
    border-color: #99C4F4;
    border-right: 1px solid;
  }

  .navbar-brand {
    @include media-breakpoint-only(lg) {
      margin-left: -45px;
    }
  }

  h6 {
    font-size: 11px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  ul {
    padding: 0;
    font-size: 12px;
    line-height: 30px;
    list-style: none;

    li {

      a {
        color: $blue-light;

        &:hover {
          // stylelint-disable-line selector-max-type
          color: $white;
        }
      }
    }
  }

  .footer-about,
  .footer-apps {
    @include media-breakpoint-down(lg) {
      padding: 20px 0;
      text-align: center;
    }
  }

  .footer-social {
    @include media-breakpoint-down(lg) {
      padding: 10px 0 30px;
    }

    h6 {
      color: $blue-light;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    .social-icon {
      background-color: $navy-dark;
      border-radius: 20px;
      color: $white;
      display: block;
      height: 39px;
      padding: 12px 0 0 1px;
      text-align: center;
      text-decoration: none;
      width: 40px;

      span { /* hide text but not icon */
        height: 1px;
        width: 1px;
        position: absolute;
        overflow: hidden;
        top: -10px;
      }

      &:hover {
        background-color: $primary;
      }

      &.social-icon-react {
        padding: 11px;
      }
    }
  }

  .sub-footer {
    padding: 10px 0 3px;
    margin-top: 20px;
    font-size: 12px;
    color: $navy-light;
    background-color: $navy-dark;

    @include media-breakpoint-down(lg) {
      padding: 30px 0 23px;
      text-align: center;
    }

    a {
      color: $navy-light;
    }

    p {
      color: $navy-light;
      padding-top: 5px;
    }

    .order-last {
      order: 0;
    }

    ul {
      margin: 1px;

      @include media-breakpoint-down(lg) {
        padding-bottom: 10px;
      }

      li {
        // stylelint-disable-line
        display: inline-block;

        @include media-breakpoint-down(md) {
          display: block;
          text-align: center;

          span {
            // stylelint-disable-line
            display: none;
          }
        }
      }
    }
  }
}
