/* Omnibar - Global Top Bar */
.sjc-omnibar {
  .navbar {
    height: 65px;
    padding: .5rem;
    line-height: 1rem;
    background-color: $primary;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .global-icons .nav-link {
    display: flex;
    padding: .57rem .65rem;
    margin-left: .5rem;
    color: $white;
    text-align: center;
  }

  .global-icons {
    justify-content: center;
    margin-right: 10px;
  }

  .profile-dropdown-toggle:hover,
  .mega-dropdown-toggle:hover {
    opacity: .85;
  }

  .dropdown.show > .nav-link {
    text-align: center;
    background-color: lighten($primary, 10%);
    border-radius: 5px;
  }

  .logo {
    display: inline-block;
    padding: 20px 30px;
    color: $white;
    background-image: url("#{$stjude-images-path}/stjude-logo-child.svg");
    background-position: 3px 6px;
    background-size: 72px;
    border-color: #99c4f4;
    border-right: 1px solid;
  }

  .logo img {
    width: auto;
    height: 40px;
    padding: 0;
    border: none;
  }

  .sjc-title {
    display: inline-block;
    padding: 0 0 0 10px;
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    color: $white;
    outline: none;

    &:hover {
      text-decoration: none;
    }
  }

  .portal-title {
    display: inline-block;
    padding-left: 8px;
    margin-right: auto;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.2rem;
    color: lighten($primary, 30%);
    text-decoration: none;
  }

  .user-icon {
    padding: 10px 8px 9px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%22-42%200%20512%20512.002%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cstyle%3Epath%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22m210.351562%20246.632812c33.882813%200%2063.222657-12.152343%2087.195313-36.128906%2023.972656-23.972656%2036.125-53.304687%2036.125-87.191406%200-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718%200-63.21875%2012.152344-87.191406%2036.125s-36.128906%2053.308594-36.128906%2087.1875c0%2033.886719%2012.15625%2063.222656%2036.132812%2087.195312%2023.976563%2023.96875%2053.3125%2036.125%2087.1875%2036.125zm0%200%22%2F%3E%3Cpath%20d%3D%22m426.128906%20393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.308594-10.339844-7.808594-20.550781-13.371094-30.335938-5.773438-10.15625-12.554688-19-20.164063-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563%200-10.28125%202.144532-20.042969%208.5-6.007812%203.917969-13.035156%208.449219-20.878906%2013.460938-6.707031%204.273438-15.792969%208.277344-27.015625%2011.902344-10.949219%203.542968-22.066406%205.339844-33.039063%205.339844-10.972656%200-22.085937-1.796876-33.046874-5.339844-11.210938-3.621094-20.296876-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.75-6.355468-14.808594-8.5-20.035156-8.5-13.3125%200-25.75%202.253906-36.972656%206.699219-11.257813%204.457031-21.003906%2010.578125-28.96875%2018.199219-7.605469%207.28125-14.390625%2016.121094-20.15625%2026.273437-5.558594%209.785157-10.058594%2019.992188-13.371094%2030.339844-3.199219%2010.003906-5.875%2020.945313-7.953125%2032.523437-2.058594%2011.476563-3.457031%2022.363282-4.148437%2032.363282-.679688%209.796875-1.023438%2019.964844-1.023438%2030.234375%200%2026.726562%208.496094%2048.363281%2025.25%2064.320312%2016.546875%2015.746094%2038.441406%2023.734375%2065.066406%2023.734375h246.53125c26.625%200%2048.511719-7.984375%2065.0625-23.734375%2016.757813-15.945312%2025.253906-37.585937%2025.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm0%200%22%2F%3E%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }

  .dropdown-menu {
    font-size: 1rem;
    line-height: 1.25rem;
    color: $blue-dark;
    background: #f4f8fc;
    border-radius: 0;
    box-shadow: $box-shadow-sm;
  }

  .dropdown-menu a,
  .dropdown-item {
    color: $blue-dark;

    &:focus,
    &:hover {
      color: $blue-dark;
      text-decoration: underline;
      background-color: transparent;
    }
  }

  .profile-dropdown-menu {
    top: 51px;
  }

  .profile-dropdown-menu,
  .mega-dropdown-menu {
    display: block;
    overflow: hidden;
    transition: transform .25s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
  }

  .show .profile-dropdown-menu,
  .show .mega-dropdown-menu {
    transform: scaleY(1);
  }

  .profile-dropdown-menu > ul,
  .mega-menu-container {
    transition: transform .25s ease-in-out;
    transform: translateY(calc(-100% - 65px));
  }

  .mega-menu-container {
    padding: 1.5rem 0;
  }

  .show .profile-dropdown-menu > ul,
  .show .mega-menu-container {
    transform: translateY(0);
  }

  .mega-dropdown {
    position: static;
  }

  .mega-dropdown-menu {
    width: 100%;
    margin-top: 0;
  }

  .mega-dropdown-col {
    padding: 1rem 3.5rem;
  }

  li {
    display: flex;
    align-items: center;
    height: 40px;
  }

  .mega-menu-title,
  .featured-study__title {
    margin-bottom: .5rem;
    font-weight: 600;
    color: $blue-dark;
    text-transform: uppercase;
  }

  .featured-study__image {
    width: 100%;
    max-width: 14rem;
    margin-bottom: .75rem;
  }

  .app-title {
    display: flex;
    align-items: center;
  }

  .app-title__icon {
    width: 40px;
    height: 30px;
  }

  .genomics-platform-subtext {
    font-size: 12px;
  }

  /* Media Query Overrides ****************************************/

  @include media-breakpoint-down(sm) {
    .featured-study__image {
      display: none;
    }
  }

  @include media-breakpoint-only(sm) {
    .mega-dropdown-col {
      padding: 1rem;
    }
  }

  @include media-breakpoint-down(md) {
    .sjc-title {
      display: none;
    }
  }

  @include media-breakpoint-only(md) {
    .mega-dropdown-menu {
      font-size: .75rem;
      line-height: .9375rem;
    }

    .mega-dropdown-col {
      padding: .75rem;
    }

    .mega-dropdown-col li {
      height: 30px;
    }

    .mega-dropdown-col:last-child {
      padding-left: 1.125rem;
    }

    .app-icon {
      width: 30px;
      height: 22.5px;
    }

    .sjcgp-subtext {
      font-size: 9px;
    }
  }

  @include media-breakpoint-up(md) {
    .mega-dropdown-col:last-child {
      padding-left: 1.5rem;
      border-left: 1px solid #b3b3b3;
    }

    .featured-study {
      padding: 1.125rem 1rem;
      background-color: $white;
    }
  }

  @include media-breakpoint-up(lg) {
    .mega-dropdown-col {
      padding: 1rem;
    }
  }
}

.nav-menu-icon {
  .navbar-toggler &,
  .dropdown & {
    width: 1.25rem;
    height: 3px;
    margin: 8px -2px;
    content: "";
    background-color: $white;
    border-radius: 5rem;

    &::before,
    &::after {
      position: relative;
      display: block;
      width: 1.25rem;
      height: 3px;
      content: "";
      background-color: $white;
      border-radius: 5rem;
    }
  }

  .navbar-toggler &.bg-secondary {
    background-color: $secondary;
    &::before,
    &::after {
      background-color: $secondary;
    }
  }

  .navbar-toggler.collapsed &,
  .dropdown & {
    transition: transform .22s cubic-bezier(.55, .055, .675, .19);

    &::before {
      top: -7px;
      transition: top .1s ease-in .25s;
    }

    &::after {
      bottom: -4px;
      transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19);
    }

  }

  .navbar-toggler:not(.collapsed) &,
  .dropdown.show & {
    transition: transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
    transform: rotate(225deg);

    &::before {
      top: 0;
      transition: top .1s ease-out;
    }

    &::after {
      bottom: 3px;
      transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
      transform: rotate(-90deg);
    }
  }
}

.sjc-subnav {
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: $white;
  border-bottom: rgba(0, 0, 0, .15) 1px solid;

  .dropdown-menu {
    border-radius: 0;
  }

  .dropdown-item,
  .nav-link {
    font-size: 1rem;
    color: $blue-dark;

    &:hover {
      color: $blue-dark;
    }
  }

  .sub-menu-text {
    margin-left: auto;
  }

  @include media-breakpoint-down(sm) {
    .dropdown-menu {
      border: 0;
    }

    .dropdown-item:hover {
      background-color: unset;
    }
  }

  @include media-breakpoint-up(md) {
    .sub-menu-text {
      display: none;
    }

    .dropdown-menu {
      top: 117%;
    }

    .nav-link {
      &::after {
        display: block;
        content: "";
        border-bottom: solid 2px $blue-dark;
        transition: transform .25s ease-in-out;
        transform: scaleX(0);
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    .nav-item.show .nav-link::after {
      transform: scaleX(1);
    }
  }

  .navbar-nav .nav-item:first-child > .nav-link {
    padding-left: 0;
  }
}
