// Hero
.not-found {
  background-color: $navy-dark;
  height: 500px;
  overflow: hidden;
  position: relative;
  text-align: center;

  .btn {
    font-weight: bold;
    padding: 15px 30px;
  }

  h2 {
    color: $white;
    font-size: 184px;
    padding-top: 3rem;
  }

  h4 {
    color: $white;
    padding-bottom: 30px;
  }
}

.not-found:before {
  background-color: $navy-dark;
  background-size: cover;
  background-image: url('/images/error-texture.png');
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0.4;
  width: 100%;
}
