/* Omnibar - Global Top Bar */
.omnibar {
  .navbar {
    background-color: $primary;
    padding: 0.5rem;
    height: 65px;
  }

  .navbar-brand {
    display: flex;
  }

  .navbar-brand a {
    display: inline-block;
  }

  .global-icons .nav-link {
    display: flex;
    color: $white;
    padding: 0.57rem 0.65rem;
    margin-left: 0.5rem;
    text-align: center;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .global-icons {
    margin-right: 10px;
  }

  .global-icons i {
    font-size: 20px;
  }

  .global-icons a:hover i {
    color: lighten($primary, 40%);
  }

  .nav-item.dropdown.show > .nav-link {
    background-color: lighten($primary, 10%);
    border-radius: 5px;
    text-align: center;
  }

  .dropdown-menu {
    position: absolute;
    margin-top: 0;
    background: $primary;
    box-shadow: $box-shadow-sm;
    border-radius: 0;
    border-bottom: 3px solid darken($primary, 10%);
    left: auto;
  }

  .dropdown-menu-main {
    right: -66px;
  }

  .dropdown-menu-profile {
    right: -18px;
  }

  .nav-item-apps .dropdown-menu i {
    padding-right: 5px;
    font-size: 1em;
    color: $primary;
  }

  #nav-item-icon-apps.dropdown-toggle::after,
  #nav-item-icon-user.dropdown-toggle::after {
    content: none;
  }

  /* Brand */

  .logo {
    display: inline-block;
    color: $white;
    text-decoration: none;
    width: 60px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-right: 1px solid;
    border-color: lighten($primary, 30%);
    position: static;
  }

  .logo img {
    border: none;
    padding: 0;
    height: 40px;
    width: auto;
  }

  .sjc-title {
    font-weight: 800;
    font-size: 20px;
    margin: 0;
    padding: 0 0 0 10px;
    display: inline-block;
    outline: none;
    color: $white;
  }

  .sjc-title a {
    color: $white;
    text-decoration: none;
  }

  .site-title {
    font-weight: 200;
    font-size: 20px;
    line-height: 1.2rem;
    display: inline-block;
    padding-left: 8px;
    color: lighten($primary, 30%);
    text-decoration: none;
  }

  .site-title em {
    font-style: normal;
  }

  /* Dropdown Menu */

  .dropdown-menu {
    top: 125%;
    padding: 1.5rem 0;
    color: $white;
    background: lighten($primary, 10%) !important;
  }

  .nav-flex-fill {
    padding: 0 0.75rem;
    flex: 1 1 auto !important;
    min-width: 125px;
    border-right: 2px solid darken($primary, 5%);
  }

  .nav-flex-fill:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-flex-fill:last-child {
    border: none;
  }

  .dropdown-item {
    color: $white;
    padding: 0.3rem 1rem;
    min-width: 10rem;
    flex: 1 1 auto;
  }

  .dropdown-main-options {
    font-weight: 600;
    border-bottom: 0;
  }

  .icon-nav {
    max-height: 35px;
    padding: 0 1rem 0 0;
  }

  .profile-menu-dropdown-item {
    border: 0;
  }

  .dropdown-column-header {
    margin: 0;
    font-size: 16px;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
  }

  a.dropdown-item:hover {
    color: $white;
    background-color: darken($primary, 2%);
  }

  /* Media Query Overrides ****************************************/

  @include media-breakpoint-down(md) {
    .sjc-title {
      display: none;
    }

    .site-title {
      padding-left: 10px;
    }

    .site-title a {
      color: $white;
    }

    .dropdown-column-header {
      margin-top: 0.75rem;
    }
    .dropdown-item {
      border: none;
    }

    .nav-flex-fill {
      border-right: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .site-title {
      width: 180px;
    }

    .site-title a {
      color: $white;
      font-size: 16px;
      display: inline-block;
    }

    .dropdown {
      position: static;
    }

    .dropdown-menu {
      width: 100%;
      right: 0;
      top: 100%;
    }
  }
}
