.sjc-subnav {
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: $white;
  border-bottom: rgba(0, 0, 0, .15) 1px solid;

  .dropdown-menu {
    border-radius: 0;
  }

  .dropdown-item,
  .nav-link {
    font-size: 1rem;
    color: $blue-dark;

    &:hover {
      color: $blue-dark;
    }
  }

  .sub-menu-text {
    margin-left: auto;
  }

  @include media-breakpoint-down(sm) {
    .dropdown-menu {
      border: 0;
    }

    .dropdown-item:hover {
      background-color: unset;
    }
  }

  @include media-breakpoint-up(md) {
    .sub-menu-text {
      display: none;
    }

    .dropdown-menu {
      top: 117%;
    }

    .nav-link {
      &::after {
        display: block;
        content: "";
        border-bottom: solid 2px $blue-dark;
        transition: transform .25s ease-in-out;
        transform: scaleX(0);
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    .nav-item.show .nav-link::after {
      transform: scaleX(1);
    }
  }

  .navbar-nav .nav-item:first-child > .nav-link {
    padding-left: 0;
  }
}
