// St. Jude Cloud Theme Custom Fonts

@font-face {
  font-family: "St. Jude Sans";
  font-weight: 300;
  src: url("#{$stjude-sans-font-path}/sjs-light.eot");
  src: url("#{$stjude-sans-font-path}/sjs-light.woff2") format("woff2"), url("#{$stjude-sans-font-path}/sjs-light.woff") format("woff"), url("#{$stjude-sans-font-path}/sjs-light.ttf")  format("truetype");
}

@font-face {
  font-family: "St. Jude Sans";
  font-style: italic;
  font-weight: 300;
  src: url("#{$stjude-sans-font-path}/sjs-light-italic.eot");
  src: url("#{$stjude-sans-font-path}/sjs-light-italic.woff2") format("woff2"), url("#{$stjude-sans-font-path}/sjs-light-italic.woff") format("woff");
}

@font-face {
  font-family: "St. Jude Sans";
  font-weight: 400;
  src: url("#{$stjude-sans-font-path}/sjs-regular.eot");
  src: url("#{$stjude-sans-font-path}/sjs-regular.woff2") format("woff2"), url("#{$stjude-sans-font-path}/sjs-regular.woff") format("woff"), url("#{$stjude-sans-font-path}/sjs-regular.ttf")  format("truetype");
}

@font-face {
  font-family: "St. Jude Sans";
  font-style: italic;
  font-weight: 400;
  src: url("#{$stjude-sans-font-path}/sjs-regular-italic.eot");
  src: url("#{$stjude-sans-font-path}/sjs-regular-italic.woff2") format("woff2"), url("#{$stjude-sans-font-path}/sjs-regular-italic.woff") format("woff"), url("#{$stjude-sans-font-path}/sjs-regular-italic.ttf")  format("truetype");
}

@font-face {
  font-family: "St. Jude Sans";
  font-weight: 700;
  src: url("#{$stjude-sans-font-path}/sjs-bold.eot");
  src: url("#{$stjude-sans-font-path}/sjs-bold.woff2") format("woff2"), url("#{$stjude-sans-font-path}/sjs-bold.woff") format("woff"), url("#{$stjude-sans-font-path}/sjs-bold.ttf")  format("truetype");
}

@font-face {
  font-family: "St. Jude Sans";
  font-style: italic;
  font-weight: 700;
  src: url("#{$stjude-sans-font-path}/sjs-bold-italic.eot");
  src: url("#{$stjude-sans-font-path}/sjs-bold-italic.woff2") format("woff2"), url("#{$stjude-sans-font-path}/sjs-bold-italic.woff") format("woff"), url("#{$stjude-sans-font-path}/sjs-bold-italic.ttf")  format("truetype");
}
