//
// SJC Color Palette
//

/* Typography ************************************************/

$font-family-sans-serif: "St. Jude Sans", "Open Sans", "Helvetica Neue",
  "Helvetica", arial, sans-serif !default;

$font-size-base: 1rem !default; // Bootstrap default
$h1-font-size: $font-size-base * 2.25 !default;

/* Monochromatic - Grays - Bootstrap Defaults ****************/

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

/* Main Brand Colors *****************************************/

$blue: #1874dc !default; // Interface, Hyperlinks, UI Button
$blue-dark: #002856 !default;
$purple: #8332a7 !default;
$purple-dark: #490e67 !default;
$red: #c10f3a !default; // Accent, Alert, St. Jude Logo
$red-dark: #911938 !default;
$orange: #e03400 !default; // Error Message
$yellow: #ffd100 !default; // Warning
$yellow-dark: #ffb125 !default;
$green: #c0da07 !default;
$green-dark: #75bc21 !default; // Success, Action Button
$aqua: #64d0e4 !default;
$aqua-dark: #1eadc1 !default;
$gray: #ccc !default;
$gray-dark: #63666b !default;

$primary: $blue !default;
$secondary: $blue-dark !default;
$success: $green-dark !default;
$info: $purple !default;
$warning: $yellow-dark !default;
$danger: $orange !default;
// $light:     $gray-100 !default;
// $dark:      $gray-800 !default;

/* SJC Custom Swatches  *****************************************/

$swatch-1: $red !default;
$swatch-1-dark: $red-dark !default;
$swatch-2: $blue !default;
$swatch-2-dark: $blue-dark !default;
$swatch-3: $green !default;
$swatch-3-dark: $green-dark !default;
$swatch-4: $purple !default;
$swatch-4-dark: $purple-dark !default;
$swatch-5: $yellow !default;
$swatch-5-dark: $yellow-dark !default;
$swatch-6: $aqua !default;
$swatch-6-dark: $aqua-dark !default;
$swatch-7: $orange !default;
