//
// SJC Color Palette
//

/* Typography ************************************************/

$font-family-sans-serif: "St. Jude Sans", "Open Sans", "Helvetica Neue",
  "Helvetica", arial, sans-serif !default;

$stjude-sans-font-path: "../../dist/fonts/stjude-sans" !default;
$stjude-images-path: "../../dist/images" !default;

$font-size-base: 1.125rem !default; // 18px
$line-height-base: 1.5 !default;
$h1-font-size: $font-size-base * 2.55 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.67 !default;
$h4-font-size: $font-size-base * 1.33 !default;

/* Monochromatic - Grays - Bootstrap Defaults ****************/

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

/* Main Brand Colors *****************************************/

$blue: #1874dc !default; // Interface, Hyperlinks, UI Button
$blue-dark: #002856 !default;
$blue-light: #eff5fc !default;
$purple: #8332a7 !default;
$purple-dark: #490e67 !default;
$red: #c10f3a !default; // Accent, Alert, St. Jude Logo
$red-dark: #911938 !default;
$peach: #fd5339 !default;
$peach-dark: #eb4e36 !default; // Error Message
$yellow: #ffd100 !default; // Warning
$yellow-dark: #ffc32c !default;
$green: #c4d82e !default;
$green-dark: #5ca132 !default; // Success, Action Button
$aqua: #7ad0e4 !default;
$aqua-dark: #17818f !default;
$gray: #f2f2f2 !default;
$gray-dark: #aeb2b5 !default;

$primary: $blue !default;
$secondary: $blue-dark !default;
$success: $green-dark !default;
$info: $purple !default;
$warning: $yellow-dark !default;
$danger: $peach-dark !default;
$light: $gray !default;
$dark: $gray-dark !default;

$headings-color: $secondary !default;

/* SJC Custom Swatches  *****************************************/

$swatch-1: $red !default;
$swatch-1-dark: $red-dark !default;
$swatch-2: $blue !default;
$swatch-2-dark: $blue-dark !default;
$swatch-3: $green !default;
$swatch-3-dark: $green-dark !default;
$swatch-4: $purple !default;
$swatch-4-dark: $purple-dark !default;
$swatch-5: $yellow !default;
$swatch-5-dark: $yellow-dark !default;
$swatch-6: $aqua !default;
$swatch-6-dark: $aqua-dark !default;
$swatch-7: $peach !default;
$swatch-7-dark: $peach-dark !default;

/* SJC Button Overrides ***************************************/

$btn-border-radius: 5rem !default;
$btn-border-radius-lg: 5rem !default;
$btn-border-radius-sm: 5rem !default;
$btn-padding-y: .25rem !default;
$btn-padding-x: 2.2rem !default;
$btn-padding-y-lg: .5rem !default;
$btn-padding-x-lg: 2rem !default;
$btn-padding-y-sm: .2rem !default;
$btn-padding-x-sm: 1.75rem !default;

/* SJC Navbar Overrides ***************************************/

$navbar-nav-link-padding-x: 1.25rem !default;
$navbar-light-color: $blue-dark !default;
$navbar-light-hover-color: $black !default;
$navbar-light-active-color: $black !default;
$navbar-light-disabled-color: rgba($blue-dark, .3) !default;
$navbar-light-toggler-border-color: rgba($blue-dark, .1) !default;

$navbar-dark-color: $blue-dark !default;
$navbar-dark-hover-color: $black !default;
$navbar-dark-active-color: $black !default;
$navbar-dark-disabled-color: rgba($blue-dark, .25) !default;
$navbar-dark-toggler-border-color: rgba($blue-dark, .1) !default;

$enable-caret: false !default;
