.Header {
  background-color: #1874dc;
  /* Navy/Dark Blue #002856; */
}

$stjude-sans-font-path: "../fonts/stjude-sans";
$stjude-images-path: "../images";

/* St. Jude Cloud Theme CSS */
@import "stjude-cloud-theme";