.Header { // stylelint-disable-line selector-class-pattern
  background-color: #1874DC;
}

.Tree-items, .Tree-collectionItems {
  padding-left: 0;
}

$stjude-sans-font-path: '../fonts/stjude-sans' !default;
$stjude-images-path: '../images' !default;

/* St. Jude Cloud Theme CSS */
@import 'stjude-cloud-theme';
