<div class="container-fluid jumbotron py-4 mb-4 py-5 bg-secondary rounded-0" style="margin-top:-40px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-white">PNG</h5>
        <a href="{{ path '/images/icon_workflow-neoepitopepred.png' }}" download="icon_workflow-neoepitopepred">
          <img class="icon" src="{{ path '/images/icon_workflow-neoepitopepred.png' }}" width="50%"
            alt="NeoepitopePred" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-white">SVG</h5>
        <a href="{{ path '/images/icon_workflow-neoepitopepred.svg' }}" download="icon_workflow-neoepitopepred">
          <img class="icon" src="{{ path '/images/icon_workflow-neoepitopepred.svg' }}" width="50%"
            alt="NeoepitopePred" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
    </div>
  </div>
</div>