  <div class="container-fluid jumbotron py-4 mb-4 py-5 bg-secondary rounded-0" style="margin-top:-40px;">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="text-white">Primary White</h5>
          <a href="#" class="btn btn-primary btn-white">
            White Primary Button
          </a>
        </div>
        <div class="col">
          <h5 class="text-white">Secondary White</h5>
          <a href="#" class="btn btn-secondary btn-white">
            White Secondary Button
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
