<div class="container">
  <div class="row">
    <div class="col-lg">
      <button type="button" class="btn btn-secondary m-2">Secondary</button>
      <button type="button" class="btn btn-secondary disabled m-2">Secondary</button>
      <button type="button" class="btn btn-outline-secondary m-2">Secondary</button>
    </div>
  </div>
</div>
