<header style="margin-top: -40px;">
      <div class="sjc-omnibar">
        <nav class="navbar">
          <a class="navbar-brand" href="https://stjude.cloud">
            <span class="logo"></span>
          </a>
          <a class="sjc-title" href="https://stjude.cloud">St. Jude Cloud</a>
          <span class="portal-title">
            App
          </span>

          <ul class="nav global-icons">
            <li class="nav-item dropdown mega-dropdown">
              <a
                class="nav-link dropdown-toggle mega-dropdown-toggle"
                href=""
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                title="St. Jude Cloud Mega Menu"
              >
                <div class="nav-menu-icon"></div>
              </a>
              <div
                class="dropdown-menu mega-dropdown-menu"
                aria-labelledby="mega-dropdown-toggle"
                id="dropdown-main"
              >
                <div class="container mega-menu-container">
                  <div class="row">
                    <div class="col-md-4 order-md-1 mega-dropdown-col">
                      <div class="mega-menu-title">
                        Research Domains
                      </div>
                      <ul class="list-unstyled">
                        <li class="domain pediatric-cancer">
                          <a href="https://stjude.cloud/research-domains/pediatric-cancer">
                            Pediatric Cancer
                          </a>
                        </li>
                        <li class="domain cancer-survivorship">
                          <a href="https://stjude.cloud/research-domains/cancer-survivorship">
                            Cancer Survivorship
                          </a>
                        </li>
                        <li class="domain non-cancerous-diseases">
                          <a href="https://stjude.cloud/research-domains/non-cancerous-diseases">
                            Non-Cancerous Diseases
                            </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-5 order-md-2 mega-dropdown-col">
                      <div class="mega-menu-title">
                        Apps
                      </div>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="https://platform.stjude.cloud"
                            class="app-title"
                          >
                            <img
                              class="app-title__icon"
                              src="{{ path '/images/icon-genomics-platform.png' }}"
                              alt="Genomics Platform Icon"
                            />
                            <span>
                              Genomics Platform
                              <div class="app-subtext">Data &amp; Tools</div>
                            </span>
                          </a>
                        </li>
                        <li>
                          <a
                            href="https://pecan.stjude.cloud/"
                            class="app-title"
                          >
                            <img
                              class="app-title__icon"
                              src="{{ path '/images/icon-pecan.png' }}"
                              alt="PeCan Icon"
                            />
                            <span>
                              PeCan
                              <div class="app-subtext">Variant Knowledgebase</div>
                            </span>
                          </a>
                        </li>
                        <li>
                          <a
                            href="https://viz.stjude.cloud"
                            class="app-title"
                          >
                            <img
                              class="app-title__icon"
                              src="{{ path '/images/icon-viz.png' }}"
                              alt="Visualization Community Icon"
                            />
                            <span>
                              Visualization Community
                              <div class="app-subtext">Curated Visualizations</div>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3 order-md-3 mega-dropdown-col">
                      <div class="mega-menu-title">
                        Support
                      </div>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="https://www.stjude.cloud/docs/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Help Guides
                            <i class="fas fa-external-link-alt"></i>
                          </a>
                        </li>
                        <li>
                          <a
                            href="https://www.stjude.cloud/docs/faq/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >FAQs
                            <i class="fas fa-external-link-alt"></i>
                          </a>
                        </li>
                        <li>
                          <a
                            href="https://stjude.cloud/contact"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Contact Us</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item user-dropdown dropdown">
              <a
                class="nav-link dropdown-toggle profile-dropdown-toggle"
                href=""
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                title="User Info"
              >
                <span class="user-icon"></i>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right profile-dropdown-menu"
                aria-labelledby="profile-dropdown-toggle"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="dropdown-item" href="">
                      Sign In
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="">
                      Create Account
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>

      <nav class="navbar navbar-expand-md sjc-subnav">
        <div class="sub-menu-text">
          Sub Menu
        </div>
        <a
          class="navbar-toggler collapsed"
          role="button"
          data-toggle="collapse"
          data-target="#sj-subnav"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <div class="nav-menu-icon bg-secondary"></div>
        </a>

        <div class="collapse navbar-collapse" id="sj-subnav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Link 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Link 3</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>