

<div class="container">
  <div class="row mb-2">
    <span class="badge badge-pill badge-primary m-2">Primary</span>
    <span class="badge badge-pill badge-secondary m-2">Secondary</span>
  </div>
  <div class="row mb-2">
    <span class="badge badge-pill badge-success m-2">Success</span>
    <span class="badge badge-pill badge-danger m-2">Danger</span>
    <span class="badge badge-pill badge-warning m-2">Warning / Pending</span>
  </div>
  <div class="row mb-2">
    <span class="badge badge-pill badge-light m-2">Light Gray</span>
    <span class="badge badge-pill badge-dark m-2">Mid Gray / Not Available</span>
    <span class="badge badge-pill badge-darkest m-2">Dark Gray</span>
  </div>
  <div class="row mb-2">
    <span class="badge badge-pill badge-pediatric-cancer m-2">Pediatric Cancer</span>
    <span class="badge badge-pill badge-cancer-survivorship m-2">Cancer Survivorship</span>
    <span class="badge badge-pill badge-non-cancerous-diseases m-2">Non-Cancerous Diseases</span>
  </div>
</div>
