

<div class="container">
  <div class="row mb-2">
    <div class="col-12">
      <span class="badge rounded-pill tag-primary m-2">Primary</span>
      <span class="badge rounded-pill tag-secondary m-2">Secondary</span>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <span class="badge rounded-pill tag-success m-2">Success</span>
      <span class="badge rounded-pill tag-danger m-2">Danger</span>
      <span class="badge rounded-pill tag-warning m-2">Warning</span>
      <span class="badge rounded-pill tag-error m-2">Error</span>
    </div>
  </div>
</div>
