

<div class="container">
  <div class="row mb-2">
    <div class="col-12">
      <span class="badge rounded-pill tag-primary m-2"><a
          href=""
          class="tag-icon"
        ><i class="fas fa-times"></i>
        </a>
        Primary</span>
      <span class="badge rounded-pill tag-secondary m-2"><a
          href=""
          class="tag-icon"
        ><i class="fas fa-times"></i></a>
        Secondary</span>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <span class="badge rounded-pill tag-success m-2"><a
          href=""
          class="tag-icon"
        ><i class="fas fa-times"></i></a>
        Success</span>
      <span class="badge rounded-pill tag-danger m-2"><a
          href=""
          class="tag-icon"
        ><i class="fas fa-times"></i></a>
        Danger</span>
      <span class="badge rounded-pill tag-warning m-2"><a
          href=""
          class="tag-icon"
        ><i class="fas fa-times"></i></a>
        Warning</span>
      <span class="badge rounded-pill tag-error m-2"><a
          href=""
          class="tag-icon"
        ><i class="fas fa-times"></i></a>
        Error</span>
    </div>
  </div>
</div>
