

<!-- Cards -->
<div class="container">
  <div class="row">
    <div class="col-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mt-4">Card</h4>
          <p>For certain types of information such as links to multiple apps or studies, developers may which to utilize the card approach featured throughout the intro pages.</p>
          <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card no-shadow">
        <div class="card-body">
          <h4 class="card-title mt-4">Card - No Shadow</h4>
          <p>For certain types of information such as links to multiple apps or studies, developers may which to utilize the card approach featured throughout the intro pages.</p>
          <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="col-6 mb-4">
      <div class="card">
        <div class="card-header">Card Header</div>
        <div class="card-body">
          <img class="icon" src="../../assets/images/icon-viz.png" alt="Visualization Community Logo"/>
          <h4 class="card-title mt-4">Full Card - w/ Icon</h4>
          <p>For certain types of information such as links to multiple apps or studies, developers may which to utilize the card approach featured throughout the intro pages.</p>
          <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Button</a>
        </div>
        <div class="card-footer">Card footer</div>
      </div>
    </div>
    <div class="col-6">
      <div class="card no-shadow">
        <div class="card-header">Card Header</div>
        <div class="card-body">
          <img class="photo" src="../../assets/images/researchers-1446503301786.jpg" alt="St. Jude Research" />
          <h4 class="card-title mt-4">Full Card - No Shadow w/ Photo </h4>
          <p>For certain types of information such as links to multiple apps or studies, developers may which to utilize the card approach featured throughout the intro pages.</p>
          <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
