

<div class="container-fluid jumbotron py-4 mb-4 py-5 bg-white rounded-0" style="margin-top:-40px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-center">PNG</h5>
        <a href="../../images/Microsoft_logo.png" download="Microsoft_logo"
          class='d-flex flex-column align-items-center'>
          <img class="icon my-3" src="../../images/Microsoft_logo.png" width="50%" alt="Microsoft logo" />
          <h6 class="text-center">Download Logo</h6>
        </a>
      </div>
    </div>
  </div>
</div>

