<div class="container-fluid jumbotron py-4 mb-4 py-5 bg-secondary rounded-0" style="margin-top:-40px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-white text-center">PNG</h5>
        <a href="{{ path '/assets/images/icon-pecan.png' }}" download="stjudecloud-pecan-logo"
          class='d-flex flex-column align-items-center'>
          <img class="icon" src="{{ path '/assets/images/icon-pecan.png' }}" width="50%" alt="PeCan" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-white text-center">SVG</h5>
        <a href="{{ path '/assets/images/icon-pecan.svg' }}" download="stjudecloud-pecan-logo"
          class='d-flex flex-column align-items-center'>
          <img class="icon" src="{{ path '/assets/images/icon-pecan.svg' }}" width="50%" alt="PeCan" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
    </div>
  </div>
</div>
