<div class="not-found">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>404</h2>
        <h4>The page you are looking for is not here.</h4>
        <a href="/" class="btn btn-primary">Back to Home</a>
      </div>
    </div>
  </div>
</div>
    
    <div class="d-flex">
  <div class="sjc-error">
    <img src="{{path '/images/404.png'}}" class="error-image" />
    <div class="error-list-container">
      <h2 class="error-header">Page Not Found</h2>
      <p class="error-subheader">Here are some helpful links instead.</p>
      <div class="error-links-list">
        <a href="https://www.stjude.cloud/">St. Jude Cloud Home</a>
        <br />
        <a href="https://stjude.cloud/docs/">Documentation</a>
        <br />
        <a
          href="https://stjude.cloud/contact"
          target="_blank"
          rel="noopener noreferrer"
        >
          Contact Us
        </a>
      </div>
    </div>
    <a href="/" class="w-100 mt-3 btn btn-primary">
      Take me to the homepage
    </a>
  </div>
</div>