@charset "UTF-8";

// Order matters. First we need bootstrap functions and mixins.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

// Import SJC Theme variables
@import "../../scss/variables";

// Apply our site-specific theme
@import "site-variables";

// Require the reset of the theme (includes bootstrap)
@import "../../scss/stjude-cloud-theme";

// Apply our site-specific components and other CSS
@import "site-config";
@import "typography";
