<!-- Cards -->
<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <!--<img class="icon" src="../../node_modules/@stjudecloud/theme/dist/images/icon-visualizations.png" alt="" />-->
          <h4 class="card-title mt-4">Large Card</h4>
          <p>For certain types of information such as links to multiple apps or studies, developers may which to utilize the card approach featured throughout the intro pages.</p>
          <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card no-shadow">
        <div class="card-body">
          <!--<img class="icon" src="../../node_modules/@stjudecloud/theme/dist/images/icon-visualizations.png" alt="" />-->
          <h4 class="card-title mt-4">Large Card **NO SHADOW**</h4>
          <p>For certain types of information such as links to multiple apps or studies, developers may which to utilize the card approach featured throughout the intro pages.</p>
          <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>