{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-twbs-bootstrap",
    "stylelint-order"
  ],
  "rules": {
    "color-hex-length": "long",
    "color-named": "never",
    "stylistic/string-quotes": "single",
    "stylistic/number-leading-zero": "always",
    "stylistic/color-hex-case": "upper",
    "stylistic/selector-pseudo-class-parentheses-space-inside": "always",
    "function-url-quotes": "always",
    "font-family-name-quotes": "always-where-recommended",
    "comment-empty-line-before": "always",
    "rule-empty-line-before": "always",
    "selector-pseudo-element-colon-notation": "single",
    "selector-class-pattern": "^[a-z][a-z0-9\\-_]*[a-z0-9]$",
    "value-no-vendor-prefix": null,
    "media-feature-name-no-vendor-prefix": null,
    "media-feature-name-no-unknown": null,
    "selector-max-type": null,
    "selector-max-compound-selectors": null,
    "property-no-vendor-prefix": null,
    "scss/operator-no-unspaced": null,
    "declaration-no-important": null,
    "order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-order": [
		]
  }
}
