  <div class="container-fluid jumbotron py-4 mb-4 py-5 bg-secondary rounded-0" style="margin-top:-40px;">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="text-white">PNG</h5>
          <a href="{{ path '/images/icon-viz.png' }}" download="stjudecloud-visualization-community-logo">
            <img class="icon" src="{{ path '/images/icon-viz.png' }}" width="50%" alt="Visualization Community"/>
            <h6 class="text-white text-center">Download Logo</h6>
          </a>
        </div>
        <div class="col">
          <h5 class="text-white">SVG</h5>
          <a href="{{ path '/images/icon-viz.svg' }}" download="stjudecloud-visualization-community-logo">
            <img class="icon" src="{{ path '/images/icon-viz.svg' }}" width="50%" alt="Visualization Community"/>
            <h6 class="text-white text-center">Download Logo</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
