

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link media="all" rel="stylesheet" href="../../css/fractal-theme.css">
    <title>Footer: Default</title>
  </head>

  <body style="padding-top: 40px">

    <footer>
  <div class="container">
    <div class="row">
      <div class="col-6 col-lg-3 col-md-4 offset-xl-0 offset-lg-5 offset-md-4 offset-3">
        <a class="navbar-brand" href="https://stjude.cloud">
          <span class="logo"></span>
        </a>
        <a class="sjc-title" href="https://stjude.cloud">St. Jude Cloud</a>
      </div>
      <div class="col-md-3 col-6 offset-xl-0 offset-md-2 footer-about">
        <h6>About</h6>
        <ul>
          <li>
            <a href="https://stjude.cloud" title="St. Jude Cloud Home">Home</a>
          </li>
          <li>
            <a href="https://stjude.cloud/contact" title="Contact">Contact</a>
          </li>
          <li>
            <a href="https://stjude.cloud/privacy-policy" title="Privacy Policy">Privacy Policy</a>
          </li>
          <li>
            <a href="https://stjude.cloud/terms-of-use" title="Terms of Use">Terms of Use</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-6 offset-xl-0 offset-md-2 footer-apps">
        <h6>Apps</h6>
        <ul>
          <li>
            <a href="https://platform.stjude.cloud" title="Genomics Platform">Genomics Platform</a>
          </li>
          <li>
            <a href="https://pecan.stjude.cloud" title="Pediatric Cancer Portal (PeCan)">Pediatric Cancer Portal (PeCan)</a>
          </li>
          <li>
            <a href="https://viz.stjude.cloud" title="Visualization Community">Visualization Community</a>
          </li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-6 col-8 offset-xl-0 offset-lg-3 offset-2 footer-social">
        <h6>Follow Us</h6>
        <div class="d-flex justify-content-between">
          <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/stjuderesearch" class="fab fa-facebook social-icon" title="Facebook"></a>

          <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/StJudeResearch" class="fab fa-twitter social-icon" title="Twitter"></a>

          <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/stjuderesearch/" class="fab fa-instagram social-icon" title="Instagram"></a>

          <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/st-jude-childrens-research-hospital/" class="fab fa-linkedin social-icon" title="LinkedIn"></a>

          <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/user/MyStJude" class="fab fa-youtube social-icon" title="Youtube"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-footer container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-12 order-last">
          <ul>
            <li>
              <a target="_blank" rel="noopener noreferrer" href="https://www.stjude.org/legal/u-s-privacy-policy-statement.html" title="U.S. Privacy Policy Statement">Privacy</a>
              <span>&#8226;</span>
            </li>
            <li>
              <a target="_blank" rel="noopener noreferrer" href="https://www.stjude.org/legal.html" title="Disclaimer / Registrations / Copyright Statement">Disclaimer /  Registrations / Copyright</a>
              <span>&#8226;</span>
            </li>
            <li>
              <a target="_blank" rel="noopener noreferrer" href="https://www.stjude.org/legal/linking-policy.html" title="Linking Policy">Linking</a>
              <span>&#8226;</span>
            </li>
            <li>
              <a target="_blank" rel="noopener noreferrer" href="https://www.stjude.org/legal/notice-of-privacy-practices.html" title="Notice of Privacy Practices (HIPAA)">Privacy (HIPAA)</a>
              <span>&#8226;</span>
            </li>
            <li>
              <a target="_blank" rel="noopener noreferrer" href="https://www.stjude.org/legal/notice-of-non-discrimination.html" title="Notice of Non-Discrimination">Non-Discrimination</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-6 col-md-12 col-8 offset-md-0 offset-2">
          <p>
          &copy; Copyright 2020 <a href="https://www.stjude.org" title="St. Jude Children's Research Hospital" target="_blank">St. Jude Children's Research Hospital</a>, a not-for-profit, section 501(c)(3).</p>
        </div>
      </div>
    </div>
  </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

