<div class="container-fluid jumbotron py-4 mb-4 py-5 bg-secondary rounded-0" style="margin-top:-40px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-white text-center">PNG</h5>
        <a href="{{ path '/assets/images/icon_workflow-expression-clustering.png' }}"
          download="icon_workflow-expression-clustering" class='d-flex flex-column align-items-center'>
          <img class="icon" src="{{ path '/assets/images/icon_workflow-expression-clustering.png' }}" width="50%"
            alt="RNA-Seq Expression Classification workflow icon" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
      <div class="col">
        <h5 class="text-white text-center">SVG</h5>
        <a href="{{ path '/assets/images/icon_workflow-expression-clustering.svg' }}"
          download="icon_workflow-expression-clustering" class='d-flex flex-column align-items-center'>
          <img class="icon" src="{{ path '/assets/images/icon_workflow-expression-clustering.svg' }}" width="50%"
            alt="RNA-Seq Expression Classification workflow icon" />
          <h6 class="text-white text-center">Download Logo</h6>
        </a>
      </div>
    </div>
  </div>
</div>
