

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-warning">
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">A simple warning alert - check it out!</p>
      </div>
    </div>
    <div class="col-12">
      <div class="alert alert-danger">
        <h4 class="alert-heading">Danger</h4>
        <p class="mb-0">Something broke - fix it!</p>
      </div>
    </div>
    <div class="col-12">
      <div class="alert alert-success">
        <h4 class="alert-heading">Success</h4>
        <p class="mb-0">A simple success alert - good job!</p>
      </div>
    </div>
    <div class="col-12">
      <div class="alert alert-info">
        <h4 class="alert-heading">Info</h4>
        <p class="mb-0">A simple info alert.</p>
      </div>
    </div>
  </div>
</div>
