

<div class="container">
  <div class="row">
    <div class="col-lg">
      <div class="row mb-2">
        <button type="button" class="btn btn-primary m-2">Primary</button>
        <button type="button" class="btn btn-primary disabled m-2">Primary</button>
        <button type="button" class="btn btn-outline-primary m-2">Primary</button>

      </div>
      <div class="row mb-2">
        <button type="button" class="btn btn-secondary m-2">Secondary</button>
        <button type="button" class="btn btn-secondary disabled m-2">Secondary</button>
        <button type="button" class="btn btn-outline-secondary m-2">Secondary</button>
      </div>
      <div class="row mb-2">
        <button type="button" class="btn btn-link m-2">Link</button>
      </div>
    </div>
  </div>
</div>
