<div style="margin-top: -40px;">
  {{> @omnibar }}
  <div class="content-main">
    <div class="container-fluid jumbotron py-4 mb-4 py-5 bg-secondary rounded-0">
      <div class="container">
        <h2 class="text-white">Layout Example</h2>
      </div>
    </div>
    <div class="container py-5">
      <h3>Ready to start building apps within St. Jude Cloud?</h3>
      <p>The guidelines below outline the brand standards for building St. Jude Cloud applications, including global
        elements (such as header and footer), colors, fonts, etc.</p>
    </div>
  </div>
  {{> @footer }}
</div>