

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link media="all" rel="stylesheet" href="../../fractal-theme.css">
    <title>Alerts: Default</title>
  </head>

  <body style="padding-top: 40px">

    <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-warning">
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">A simple warning alert - check it out!</p>
      </div>
    </div>
    <div class="col-12">
      <div class="alert alert-danger">
        <h4 class="alert-heading">Danger</h4>
        <p class="mb-0">Something broke - fix it!</p>
      </div>
    </div>
    <div class="col-12">
      <div class="alert alert-success">
        <h4 class="alert-heading">Success</h4>
        <p class="mb-0">A simple success alert - good job!</p>
      </div>
    </div>
    <div class="col-12">
      <div class="alert alert-info">
        <h4 class="alert-heading">Info</h4>
        <p class="mb-0">A simple info alert.</p>
      </div>
    </div>
  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

