

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link media="all" rel="stylesheet" href="../../css/fractal-theme.css">
    <title>Badges Primary: Default</title>
  </head>

  <body style="padding-top: 40px">

    <div class="container">
  <div class="row mb-2">
    <div class="col-12">
      <span class="badge bg-primary m-2">Primary</span>
      <span class="badge bg-secondary m-2">Secondary</span>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <span class="badge bg-success m-2">Success</span>
      <span class="badge bg-danger m-2">Error</span>
      <span class="badge bg-warning text-dark m-2">Warning / Pending</span>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <span class="badge bg-light text-dark m-2">Light Gray</span>
      <span class="badge bg-dark text-dark m-2">Mid Gray / Not Available</span>
      <span class="badge bg-darkest m-2">Dark Gray</span>
    </div>
  </div>
  <div class="row mb-2">
     <div class="col-12">
      <span class="badge bg-pediatric-cancer m-2">Pediatric Cancer</span>
      <span class="badge bg-cancer-survivorship m-2">Cancer Survivorship</span>
      <span class="badge bg-non-cancerous-diseases m-2">Non-Cancerous Diseases</span>
    </div>
  </div>
</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

