

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link media="all" rel="stylesheet" href="../../fractal-theme.css">
    <title>Omnibar: Default</title>
  </head>

  <body style="padding-top: 40px">

    <header style="margin-top: -40px;">
  <div class="sjc-omnibar">
    <nav class="navbar">
      <a class="navbar-brand" href="https://stjude.cloud">
        <span class="logo"></span>
      </a>
      <a class="sjc-title" href="https://stjude.cloud">St. Jude Cloud</a>
      <span class="portal-title">
        App
      </span>

      <ul class="nav global-icons">
        <li class="nav-item user-dropdown dropdown">
          <a
            class="nav-link dropdown-toggle profile-dropdown-toggle"
            href=""
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            title="User Info"
          >
            <span class="user-icon"></i>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right profile-dropdown-menu"
            aria-labelledby="profile-dropdown-toggle"
          >
          <ul class="list-unstyled">
            <li>
              <a class="dropdown-item" href="">
                Sign In
              </a>
            </li>
              <li>
                <a class="dropdown-item" href="">
                  Create Account
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown mega-dropdown">
          <a
            class="nav-link dropdown-toggle mega-dropdown-toggle"
            href=""
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            title="St. Jude Cloud Mega Menu"
          >
            <div class="nav-menu-icon"></div>
          </a>
          <div
            class="dropdown-menu mega-dropdown-menu"
            aria-labelledby="mega-dropdown-toggle"
            id="dropdown-main"
          >
            <div class="container mega-menu-container">
              <div class="row">
                <div class="col-md-3 order-md-2 mega-dropdown-col">
                  <div class="mega-menu-title">
                    Research Domains
                  </div>
                  <ul class="list-unstyled">
                    <li>
                      <a href="https://stjude.cloud/research-domains/pediatric-cancer"
                        >Pediatric Cancer</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://stjude.cloud/research-domains/cancer-survivorship"
                        >Cancer Survivorship</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://stjude.cloud/research-domains/non-cancerous-diseases"
                        >Non-cancerous Diseases</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="col-md-3 order-md-3 mega-dropdown-col">
                  <div class="mega-menu-title">
                    Apps
                  </div>
                  <ul class="list-unstyled">
                    <li>
                      <a
                        href="https://platform.stjude.cloud"
                        class="app-title"
                      >
                        <img
                          class="app-title__icon"
                          src="../../assets/images/icon-genomics-platform.png"
                          alt="Genomics Platform Icon"
                        />
                        <span>
                          Genomics Platform
                          <div class="genomics-platform-subtext">Data &amp; Tools</div>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://models.stjude.cloud"
                        class="app-title"
                      >
                        <img
                          class="app-title__icon"
                          src="../../assets/images/icon-model-systems.png"
                          alt="Model Systems Icon"
                        />
                        <span>
                          Model Systems
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://pecan.stjude.cloud/"
                        class="app-title"
                      >
                        <img
                          class="app-title__icon"
                          src="../../assets/images/icon-pecan.png"
                          alt="PeCan Icon"
                        />
                        <span>
                          PeCan
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://viz.stjude.cloud"
                        class="app-title"
                      >
                        <img
                          class="app-title__icon"
                          src="../../assets/images/icon-viz.png"
                          alt="Visualization Community Icon"
                        />
                        <span>
                          Visualization Community
                        </span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://stjude.cloud/apps"
                        class="text-primary"
                      >
                        View All Apps
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3 order-md-1 mega-dropdown-col d-flex">
                  <div class="featured-study">
                    <a href="https://stjude.cloud/studies/clinical-genomics">
                      <img
                        class="featured-study__image"
                        src="../../assets/images/featured-study.jpg"
                        alt="Featured Study Image"
                      />
                    </a>
                    <div>
                      <div class="featured-study__title">Featured Study</div>
                      <ul class="list-unstyled">
                        <li>
                          <a href="https://stjude.cloud/studies/clinical-genomics">
                            Real-time Clinical Genomics
                          </a>
                        </li>
                        <li>
                          <a
                            href="https://stjude.cloud/studies"
                            class="text-primary"
                          >
                            View All Studies
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 order-md-4 mega-dropdown-col">
                  <div class="mega-menu-title">
                    Support
                  </div>
                  <ul class="list-unstyled">
                    <li>
                      <a
                        href="https://university.stjude.cloud/docs/"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Help Guides</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://university.stjude.cloud/docs/faq/"
                        target="_blank"
                        rel="noopener noreferrer"
                        >FAQs</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://stjude.cloud/contact"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Contact Us</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <nav class="navbar navbar-expand-md sjc-subnav">
    <div class="sub-menu-text">
      Sub Menu
    </div>
    <a
      class="navbar-toggler collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#sj-subnav"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <div class="nav-menu-icon bg-secondary"></div>
    </a>

    <div class="collapse navbar-collapse" id="sj-subnav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Link 3</a>
        </li>
      </ul>
    </div>
  </nav>
</header>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

