

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link media="all" rel="stylesheet" href="../../css/fractal-theme.css">
    <title>Wavy Section Svg: Default</title>
  </head>

  <body style="padding-top: 40px">

    <div class=" bg-primary py-5 wavy-container">
  <div class="container">
    <div class="col-12">
      <h1 class="text-white">This is a wavy container!</h1>
      <p class="text-white">Go ahead and resize your window, you'll notice the wavy shape resizes with the size of the window width. You can change the color of the shape just by changing the <code class="text-white">`background-color: $variable`</code>.</p>
    </div>
  </div>
  <div class="wavy-bottom"></div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

